
input[type=button] {
    border-radius: 3px 3px 3px 3px;
}

input[type=submit] {
    border-radius: 3px 3px 3px 3px;
}

input[type=text] {
    border-radius: 3px 3px 3px 3px;
}

textarea {
    border-radius: 3px 3px 3px 3px;
}

select {
    border-radius: 3px 3px 3px 3px;
}

/* Usado nos slides de imagens */
.mySlides { display:none; }


/* Example CSS for the two demo scrollers */
#pscroller1
{
	width: 135px;
	height: 70px;
	border: none;
	padding: 0px;
	background-color: none;
}

/* Example CSS for the two demo scrollers */
.someclass{ /*class to apply to your scroller(s) if desired*/ }



.linha-fundo {
    background-color: #D6EBFF;
    padding-left: 10px;
}

.linha-destaque {
    border-bottom: solid thin;
    border-bottom-color: red;
}


.margem-10 {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    margin-right: 18px;
}

.largura-total { width: 100%; }
.altura-total { height: 100% }

.espaco-minimo-35 { min-height: 35px; height: 35px; }
.espaco-minimo-100 { min-height: 100px; height: 100px; }

/* Textos */
.texto-centralizado { text-align: center; }
.texto-justificado { text-align: justify; }
.texto-direito { text-align: right; }
.texto-vermelho-bold {
    color: red;
    font-weight: bold;
}

/* barra escura do indicador de nome de Tela */
.destaque { }
.destaque.titulo { background-color: #d9d9d9; }
.destaque.atraso { background-color: #EFD0D0; }

.fonte {}
.fonte.px10 {    font-size: 10px;}
.fonte.px11 {    font-size: 11px; }
.fonte.px15 {    font-size: 15px;    }
.fonte.px20 {    font-size: 20px;    }
