
/* Usado nos slides de imagens */
.mySlides { display:none; }


/* Example CSS for the two demo scrollers */
#pscroller1{
	width: 135px;
	height: 70px;
	border: none;
	padding: 0px;
	background-color: none;
}

/* Example CSS for the two demo scrollers */
.someclass{ //class to apply to your scroller(s) if desired }



.linha-fundo {
    background-color: #D6EBFF;
    padding-left: 10px;
}

.linha-destaque {
    border-bottom: solid thin;
    border-bottom-color: red;
}


.margem-10 {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
}

.largura-total { width: 100%; }

.espaco-minimo-35 { min-height: 35px; height: 35px; }
.espaco-minimo-100 { min-height: 100px; height: 100px; }

/* Textos */
.texto-centralizado { text-align: center; }
.texto-justificado { text-align: justify; }
.texto-direito { text-align: right; }
.texto-vermelho-bold {
    color: red;
    font-weight: bold;
}

/* barra escura do indicador de nome de Tela */
.destaque { }
.destaque.titulo { background-color: #d9d9d9; }
.destaque.atraso { background-color: #EFD0D0; }
