.texto0 {
	color: #999999; 
	line-height: normal;
	text-decoration: none;
	font-size: 8px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.texto0B {
	color: #999999; 
	line-height: normal;
	text-decoration: none;
	font-size: 8px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.texto {
	color: #999999; 
	line-height: normal;
	text-decoration: none;
	font-size: xx-small; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.textoB {
	color: #999999; 
	line-height: normal;
	text-decoration: none;
	font-size: xx-small; 
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.texto1 {
	color: #000000;
	line-height: normal;
	text-decoration: none;
	font-size: xx-small; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.texto1B {
	color: #000000;
	line-height: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: xx-small; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.texto2 {
	color: white;
	line-height: normal;
	text-decoration: none;
	font-size: xx-small; 
}
.texto2B {
	color: white;
	line-height: normal;
	text-decoration: none;
	font-size: xx-small; 
	font-weight: bold;
}

/**** Utilizado na formatação das bordas arredondadas ****/
.menu1 {
	color: #336699;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #3399CC;
	border-left-color: #3399CC;
}
.menu1th{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	border-top: 1px solid #3399CC;
	border-bottom: 1px dotted #336699;
	text-align: left;
	color: #3399CC;
}
.menu1dw{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	border-top: none;
	border-bottom: 1px solid #3399CC;
	text-align: left;
	color: #3399CC;
}
.destaque {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	text-align: left;
	border-bottom-style: dotted;
	font-size: 12px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-color: #3366CC;
}
/**** FIM -- Utilizado na formatação das bordas arredondadas ****/



DIV.tempo
{
    BORDER-RIGHT: #808080 1px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #808080 1px solid;
    DISPLAY: none;
    PADDING-LEFT: 6px;
    FONT-SIZE: 12px;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 6px;
    MARGIN-LEFT: 2px;
    BORDER-LEFT: #808080 1px solid;
    WIDTH: 150px;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: #808080 1px solid;
    FONT-FAMILY: Verdana;
    POSITION: absolute;
    BACKGROUND-COLOR: #ffffff
}

a {
   COLOR: #000000;
	text-decoration: none;
	font-style: normal;
}
a:link {
	color: #000000;
	text-decoration: none;
	font-style: normal;
}
a:hover {
	color: #003073;
	text-decoration: underline;
}
a:visited {
	COLOR: #000000;
}

.menu
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    COLOR: #003073;
}
A.menu:link
{
    COLOR: #000000;
	 font-weight: normal;
    TEXT-DECORATION: none
}
A.menu:visited
{
    COLOR: #000000;
    TEXT-DECORATION: none;
	 font-weight: normal;
}
A.menu:hover
{
    COLOR: #003073;
    TEXT-DECORATION: none;
	 font-weight: bold;
}

.tabela1 {
	font-size: xx-small;
	color: #000000;
	background-color: #FFFFFF;
}

.tabela1 th {
	font-size: 12px;
	color: #003073;
	text-decoration: none;
	background-color: #D6EBFF;
}
.Cinza1 {
	color: Gray;
}
.Cinza2 {
	color: #d9d9d9;
}
.Azul1 {
	color: #D6EBFF;
}
.Azul2 {
	color: #84C7EF;
}
.Azul3 {
	color: #003073;
}
.Azul1B {
	color: #D6EBFF;
	font-weight: bold;
}
.Azul2B {
	color: #84C7EF;
	font-weight: bold;
}
.Azul3B {
	color: #003073;
	font-weight: bold;
}
.Azul1Bg {
	background-color: #D6EBFF;
}
.Azul2Bg {
	background-color: #84C7EF;
}
.Azul3Bg {
	background-color: #003073;
}
.Vermelho1 {
	color: #FFECEC;
}
.Vermelho2 {
	color: Red;
}
.Vermelho1Bg {
	background-color: #FFECEC;
}
.Vermelho2Bg {
	background-color: Red;
}
.Cinza1Bg {
	background-color: Gray;
}
.Cinza2Bg {
	background-color: #d9d9d9;
}
.Cinza3Bg {
	background-color: #EFEFEF;
}
.Padrao {
	color: #000000;
	background-color: #FFFFFF;
}
.realce {
	background-color: #d9d9d9;
}
.realce1 {
	background-color: #EFEFEF;
	color: #003073;
	font-weight: bold;
	font-size: xx-small;
}

body	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	color : Black;
	overflow: auto;
	scrollbar-3d-light-color: #E1E1E1;
	scrollbar-arrow-color: black;
	scrollbar-base-color: #E1E1E1;
	scrollbar-dark-shadow-color: #999999;
	scrollbar-face-color: #E1E1E1;
	scrollbar-highlight-color: #E1E1E1;
	scrollbar-shadow-color: #999999;
}

.noticias {
	color: #000080;
	text-decoration: none;
	font-size:	xx-small;
}

.tabelaHoje {
	font-size: xx-small; 
	color: #000000; 
	background-color: #C0E0EF;
}

.tabelaHoje th {
	font-size: xx-small;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #003366;
}

.fonteTitulo1 {
	color: #003366;
	font-weight: bold;
	font-size: xx-small;
}

.links { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small; 
	color: #003366;
	text-decoration: none
}

.texto_tabela {
	color: #000000; 
	text-decoration: none
}

.texto_tabela {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small; 
	color: #000000; 
	text-decoration: none
}

.campos {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small;
	font-style: normal; 
	color: #000000; 
	text-decoration: none; 
	height: auto; 
	width: auto; 
	margin-top: 1px; 
	margin-right: 1px; 
	margin-bottom: 1px; 
	margin-left: 1px; 
	border: #003366; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
}

.botao {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small;
	font-style: normal; 
	text-decoration: none; 
	background-color: #C0E0EF; 
	margin-top: 1px; 
	margin-right: 1px; 
	margin-bottom: 1px; 
	margin-left: 1px; 
	border: #003366; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	color: #003366; 
	font-weight: bold; height: 20px
}

.lista {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; color: #000000; text-decoration: none; background-color: #FFFFFF; border: 1px #003366 solid; list-style-position: outside; list-style-image: url(images/seta_baixo.jpg); list-style-type: square; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px}

.check_box {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; font-weight: bolder; color: #000000; text-decoration: none; margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; border: 1px #003366 solid; clear: none; float: none; height: 20px; width: 20px}

.texto_corrido {  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal; 
	color: #000000; 
	text-decoration: none; 
	line-height: normal;
}

.topo_caixa_01 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small;
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none; 
	background-color: #003366; 
	margin-top: 1px; 
	margin-right: 1px; 
	margin-bottom: 1px; 
	margin-left: 1px; 
	border: 1px #003366 solid; 
	padding-top: 1px; 
	padding-bottom: 1px; 
	padding-left: 6px; 
	clip:  rect(   )
}

.conteudo_caixa_01 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small;
	color: #000000; 
	text-decoration: none; 
	background-color: #C0E0EF; 
	border: 1px #003366 solid; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 6px; 
	font-style: normal
}

.topo_caixa_02 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal; 
	font-weight: bold; 
	color: #003366; 
	text-decoration: none; 
	background-color: #C0E0EF; 
	padding-top: 1px; 
	padding-bottom: 1px; 
	padding-left: 6px; 
	border: #003366; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
}

.conteudo_caixa_02 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small; 
	font-style: normal; 
	color: #000000; 
	text-decoration: none; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 6px; 
	border: solid; 
	border-width: 0px 1px 1px; 
	border-color: black #003366;
}

.texto_chamada {  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal; 
	font-weight: bold; 
	color: #003366;
	text-decoration: none; 
	line-height: normal;
}

.tabela_advertencia {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small; 
	font-style: normal; 
	color: #000000; 
	text-decoration: none; 
	background-color: #C0E0EF; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 6px; 
	border: solid; 
	border-width: 0px 1px 1px; 
	border-color: #993300;
}

.topo_tabela_advertencia {
	font-size: xx-small;
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none;
	background-color: #993300;
}

.botao_advertencia {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small;
	font-style: normal; 
	text-decoration: none; 
	background-color: #C0E0EF; 
	margin-top: 1px; 
	margin-right: 1px; 
	margin-bottom: 1px; 
	margin-left: 1px; 
	border: #993300; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px; 
	color: #993300; 
	font-weight: bold; height: 20px
}	

.link_ocs {  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal; 
	color: #003366; 
	text-decoration: none; 
	line-height: normal;
}

/****
**** AQUI ENTRA O CODIGO DO ARQUIVO STYLE.CSS QUE POSTERIORMENTE 
**** SERA SUBSTIUTUIDO PELO CODIGO DESTE ARQUIVO
****
**** ESTE CÓDIGO FOI MANTIDO POR QUESTOES DE COMPATIBILIDADE, JA QUE ESTAMOS
**** ALTERANDO O CODIGO DO SISTEMA PARA USAR A MESMA INTERFACE PADRAO
****/

.Fontplantao
{
 FONT-FAMILY: tahoma, Verdana, arial; 
 COLOR:#000050; 
 Font-size:8pt;
 FONT-WEIGHT: normal;
}
.faqans
{
 FONT-FAMILY:tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
 COLOR:#0000A0; 
 Font-size:10pt;
 FONT-WEIGHT: italic;
}
.legenda
{
 FONT-FAMILY:tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; 
 COLOR:#FFFFFF; 
 Font-size:8pt;
 FONT-WEIGHT: bold;
}
.faqask
{
 FONT-FAMILY:tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; 
 COLOR:#000070; 
 Font-size:10pt;
 FONT-WEIGHT: bold;
}

.trCadtit1
{
  BACKGROUND-COLOR:'#BDCDFF';
  border-color:'#000033';
  border-size: 0;
}

.trCadtit2
{
  BACKGROUND-COLOR:'#666688';
  border-color:'#330033';
  border-size: 0;
}

.trCadtit3
{
	background-color: #C0E0EF;
  border-color:'#330033' 
  border-size: 0
}

.combo
{
    FONT-FAMILY: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 5px;
    PADDING-TOP: 1px
}
.combo300
{
    FONT-FAMILY: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 5px;
    PADDING-TOP: 1px;
		Width:300px;
}
.cxtexto
{
    FONT-FAMILY: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 5px;
    PADDING-TOP: 1px
}
.FontMarquee
{
 FONT-FAMILY: tahoma, Verdana, arial; 
 COLOR:#000050; 
 Font-size:9pt;
 FONT-WEIGHT: bold;
}
.Fonttit1Cad
{
 FONT-FAMILY:arial; 
 COLOR:#FFFFFF; 
 Font-size:11pt;
}
.Fonttit2Cad
{
 FONT-FAMILY:tahoma;
 FONT-color=#000000;
 Font-size:9pt;
}
.Fonttit3Cad
{
  FONT-FAMILY:tahoma;
  color: #000000;
  font-size:8pt;
}
.Fonttit4Cad
{
  FONT-FAMILY:arial;
  FONT-color=#000000;
  font-size:11pt;
}
.FontMenu
{
  FONT-color=#DDDD00; 
  font-size:10pt;
}
.FontMenu1
{
  FONT-FAMILY:Tahoma;
  FONT-color=#000000;
  font-size:7pt;
}
.FontMenuPrincipal
{
  FONT-FAMILY:Tahoma;
  FONT-color=#000000;
  font-size:7pt;
}
.branco
{
    FONT-SIZE: 3pt;
}
.titulo
{
    FONT-FAMILY: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 20pt;
    FONT-WEIGHT: bold;
    COLOR: #000040;
}

.opcao
{
    FONT-FAMILY: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    COLOR: #000000;
}
.submenu
{
    FONT-FAMILY: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 11pt;
    FONT-WEIGHT: bold;
    COLOR: #FFFFBB;
}
.trsubmenu
{
   HEIGht: 50pt
   BACKGROUND-COLOR: #000000
}
.tittab
{
    FONT-FAMILY: Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-WEIGHT: bold;
}
.item
{
    FONT-FAMILY: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    COLOR: #000000;
}

.intmn
{
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 7.5pt;
    FONT-WEIGHT: bolder
}
A.intmn:link
{
    COLOR: navy;
    TEXT-DECORATION: none
}
A.intmn:visited
{
    COLOR: navy;
    TEXT-DECORATION: none
}
A.intmn
{
    COLOR: blue;
    TEXT-DECORATION: none
}
.box
{
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
A.box:link
{
    COLOR: white;
    TEXT-DECORATION: none
}
A.box:visited
{
    COLOR: white;
    TEXT-DECORATION: none
}
A.box
{
    TEXT-DECORATION: underline
}

.erro
{
	text-align: center;
	background-color: red;
	color: white;
	font-family: tahoma, Verdana, arial; 
	font-size:12pt;
	font-weight: bold;
}


/* SCE INICIO */
.botaomsg {
	border : 2px solid Navy;
	font-family : Verdana, Tahoma;
	font-size : 12px;
	font-weight : bolder;
	text-align : center;
	width : 150;
	background-color : #87CEEB;
	cursor: hand;
	}

.botao3t {
	font-family : Verdana, Tahoma;
	font-size : 12px;
	font-weight : bolder;
	text-align : center;
	width : 150;
	background-color : #87CEEB;
	cursor: hand;
	}

.tipomensagem{
	color : Maroon;
	font-family : Verdana, Tahoma;
	font-size : 16px;
	font-weight : bolder;
	letter-spacing : 1px;
	}	
/* SCE FIM */

/* NOVOS */
.frmcampo {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	color: #000000; 
	text-decoration: none; 
	background-color: #FFFFFF; 
	border: #003366; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
}
.frmbotao {  
	font-family: "Trebuchet MS", "Comic Sans MS", Garamond; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #003366; 
	text-decoration: none; 
	background-color: #C0E0EF; 
	border: #003366; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
}
.botao3 {  
	width : 150;
	height : 22;
	font-family: "Trebuchet MS", "Comic Sans MS", Garamond; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #003366; 
	text-decoration: none; 
	background-color: #C0E0EF; 
	border: #003366; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
}

.textochamadaBODY {
	color : #191970;
	font-family : Verdana, sans-serif;
	font-size : xx-small;
	font-weight : bold;
}

.textochamadaA {
	text-decoration : none;
}

.textochamadaA:HOVER {
	text-decoration : none;
}

.textocorridoBODY {
	color : Black;
	font-family : Verdana, sans-serif;
	font-size : xx-small;
}

.textocorridoA {
	color : Black;
	text-decoration : none;
}

.textocorridoA:HOVER {
	color : Silver;
	text-decoration : none;
}

.titulotabela {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small; 
	color: #FFFFFF; 
	text-decoration: none; 
	background-color: #003366
}

.conteudotabela {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small; 
	color: #000000; 
	background-color: #C0E0EF
}

.vencido {
	background-color: #EFD0D0;
}

/* FIM NOVOS */


/*** sistema de facilidades (circuitos) ***/
.botaoMenu
{
	font-family: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	width: 370px;
	background-color:"#C1DDFF";
  color: #000000;
}
.botaoMenuRel
{
	font-family: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: lighter;
	width: 500px;
	background-color:"#C1DDFF";
	color: #000000;
	text-align : left;
	text-indent : 10px;
}
.botao0
{
	font-family: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	width: 30px;
	background-color:"#C1DDFF";
}
.botao1
{
	font-family: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	width: 100px;
	background-color:"#C1DDFF";
}
.botao3
{
	font-family: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	width: 150px;
	background-color:"#C1DDFF";
}
table.tipo1
{
	font-family: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	border : thin solid Black;
	background-color: "#BDCDFF";
	text-align: left;
	margin : 0px 0px 0px 0px;
}

table.tipo1 .titulo
{
	font-size: larger;
	font-weight: bolder;
	background-color: '#666688';
	text-align: right;
	color: White;
}

table.tipo1 th
{
	font-weight: bolder;
	margin : 0px 0px 0px 0px;
}

table.tipo1 td
{
	margin : 0px 0px 0px 0px;
}

table.tipo1 .col_tit
{
	text-align: left;
	background-color: '#666688';
	color: white;
	font-weight: bolder;
}

table.tipo2
{
	font-family: tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	border : thin solid Black;
	background-color: "#BDffcd";
	text-align: left;
	margin : 0px 0px 0px 0px;
}

table.tipo2 .titulo
{
	font-size: larger;
	font-weight: bolder;
	background-color: '#666688';
	text-align: right;
	color: White;
}

table.tipo2 th
{
	font-weight: bolder;
	margin : 0px 0px 0px 0px;
}

table.tipo2 td
{
	margin : 0px 0px 0px 0px;
}

table.tipo2 .col_tit
{
	text-align: left;
	background-color: '#666688';
	color: white;
	font-weight: bolder;
}

.circ_ativ
{
	color: green;
}

.circ_desat
{
	color: red;
}
/*** sistema de facilidades (circuitos) ***/

