BODY {
	color : Black;
	font-family : Verdana, sans-serif;
	font-size : xx-small;
}

A {
	color : Black;
	text-decoration : none;
}

A:HOVER {
	color : Silver;
	text-decoration : none;
}