/****** Object:  View [dbo].[vw_consLogBook]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[vw_consLogBook]') AND OBJECTPROPERTY(id, N'IsView') = 1)
	DROP VIEW [dbo].[vw_consLogBook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_consLogBook]
AS
	SELECT LB_TipoOcorrencia.LBTO_DESCRICAO, 
		UserCRT.NOME, LB_LogBook.*
	FROM
		LB_LogBook 
		INNER JOIN LB_TipoOcorrencia ON LB_LogBook.LBTO_ID = LB_TipoOcorrencia.LBTO_ID 
		LEFT OUTER JOIN UserCRT ON LB_LogBook.LB_RESPEXEC = UserCRT.USERID
GO
