/****** Object:  View [dbo].[vw_IndicadorServicos2]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[vw_IndicadorServicos2]') AND OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW [dbo].[vw_IndicadorServicos2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[vw_IndicadorServicos2]') AND OBJECTPROPERTY(id, N'IsView') = 1)
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vw_IndicadorServicos2]
AS
SELECT AG_Responsavel, cast(SUM([Dias de Eventos]) 
    AS decimal) / 82 AS Media
FROM vw_IndicadorServicos
GROUP BY ag_responsavel

'
GO
