/****** Object:  View [dbo].[vw_IndicadorServicos1]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[vw_IndicadorServicos1]') AND OBJECTPROPERTY(id, N'IsView') = 1)
	DROP VIEW [dbo].[vw_IndicadorServicos1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_IndicadorServicos1]
AS
	SELECT AT_NOME, cast(SUM([Dias de Eventos]) AS decimal) 
		/ 82 AS Media
	FROM vw_IndicadorServicos
	GROUP BY at_nome
GO
