/****** Object:  View [dbo].[vw_PESQ_SATISFACAO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[vw_PESQ_SATISFACAO]') AND OBJECTPROPERTY(id, N'IsView') = 1)
	DROP VIEW [dbo].[vw_PESQ_SATISFACAO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_PESQ_SATISFACAO]
AS
	SELECT 
		CASE
			WHEN PSQ_R11 = 5 THEN 'Muito Satisfeito'
			WHEN PSQ_R11 = 4 THEN 'Satisfeito'
			WHEN PSQ_R11 = 3 THEN 'Indiferente'
			WHEN PSQ_R11 = 2 THEN 'Insatisfeito'
			WHEN PSQ_R11 = 1 THEN 'Muito Insatisfeito'
			WHEN PSQ_R11 IS NULL THEN 'NÃO RESPONDIDO'
		END AS [Tipo],
		CASE
			WHEN PSQ_R11 = 5 THEN COUNT(PSQ_R11)
			WHEN PSQ_R11 = 4 THEN COUNT(PSQ_R11) 
			WHEN PSQ_R11 = 3 THEN COUNT(PSQ_R11) 
			WHEN PSQ_R11 = 2 THEN COUNT(PSQ_R11) 
			WHEN PSQ_R11 = 1 THEN COUNT(PSQ_R11) 
			WHEN PSQ_R11 IS NULL THEN COUNT(*)
		END AS [indice]
	FROM
		pesquisaSatisfacao
	WHERE
		PSQ_R11 is not null  
	GROUP BY 
		PSQ_R11

	UNION

	SELECT
		'Respostas' as Tipo, count(*) as indice
	FROM 
		pesquisaSatisfacao
	WHERE 
		PSQ_R11 is not null
GO
