/****** Object:  View [dbo].[vw_SCE_Reserva_Equipamentos]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[vw_SCE_Reserva_Equipamentos]') AND OBJECTPROPERTY(id, N'IsView') = 1)
	DROP VIEW [dbo].[vw_SCE_Reserva_Equipamentos]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  VIEW [dbo].[vw_SCE_Reserva_Equipamentos]
AS
	SELECT A.AG_NUMERO, 
		CONVERT(DATETIME, A.AG_DATAINICIO, 103) as AG_DATAINICIO,
		CONVERT(DATETIME, A.AG_DATATERMINO, 103) AS AG_DATATERMINO,
		CONVERT(DATETIME, R.RES_DATACADASTRO, 103) AS RES_DATACADASTRO,
		R.RES_RESPONSAVEL, 
		Amb.AMB_ID AS [AMB_ID_RESERVA], Amb.AMB_NOME AS [AMB_NOME_RESERVA], crt.SIGLA_CRT AS [SIGLA_CRT_RESERVA],
		E.EQ_ID, E.EQ_CODIGOBARRAS, E.EQ_NUMEROSERIE, E.AMB_ID, amb1.AMB_NOME, crt1.SIGLA_CRT,
		E.STATUS,
		CASE
			WHEN STATUS = 0 THEN 'Cadastrado'
			WHEN STATUS = 2 THEN 'Em Uso'
			WHEN STATUS = 1 THEN 'Estoque'
			WHEN STATUS = 3 THEN 'Expedido'
		END AS DESC_STATUS,
		E.EQ_INSTRUMENTAL, E.EQ_PROPRIEDADE, E.EQ_CONFORME, R.RES_OBSERVACAO,
		CONVERT(DATETIME, RE.REQ_DATAINICIO, 103) AS REQ_DATAINICIO,
		CONVERT(DATETIME, RE.REQ_DATATERMINO, 103) AS REQ_DATATERMINO,
		RE.REQ_ACEITO, RE.REQ_MOVIMENTOU, M.MOD_ID, M.MOD_CODNOME, M.mod_descricao, 
		F.fab_id, F.fab_nome, U.NOME AS NOME_RESPONSAVEL
	FROM
		SCE_Reserva R 
		INNER JOIN UserCRT U ON R.RES_RESPONSAVEL = U.USERID
		INNER JOIN SCE_Reserva_Equipamentos RE ON RE.AG_NUMERO = R.AG_NUMERO
		INNER JOIN Agendamento A ON RE.AG_NUMERO = A.AG_NUMERO
		INNER JOIN SCE_Equipamentos E ON RE.EQ_ID = E.EQ_ID
		INNER JOIN SCE_Modelos M ON E.MOD_ID = M.MOD_ID
		INNER JOIN SCE_Fabricantes F ON M.FAB_ID = F.fab_id
		LEFT JOIN Ambientes Amb ON Amb.AMB_ID = RE.AMB_ID
		INNER JOIN CentroReferencia crt ON Amb.ID_CRT = crt.ID_CRT
		LEFT JOIN Ambientes Amb1 ON Amb1.AMB_ID = E.AMB_ID
		LEFT JOIN CentroReferencia crt1 ON Amb1.ID_CRT = crt1.ID_CRT
GO
