/****** Object:  View [dbo].[vw_SCE_Movimentacao_Atual]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[vw_SCE_Movimentacao_Atual]') AND OBJECTPROPERTY(id, N'IsView') = 1)
DROP VIEW [dbo].[vw_SCE_Movimentacao_Atual]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[vw_SCE_Movimentacao_Atual]') AND OBJECTPROPERTY(id, N'IsView') = 1)
EXEC dbo.sp_executesql @statement = N'
CREATE  VIEW [dbo].[vw_SCE_Movimentacao_Atual]
AS
	/**
		Exibe a ultima movimentacao dos itens.
		Criada em: 07/11/2003 - Gilberto Almeida
		Ultima alteracao:
	**/
	SELECT m.*, LEFT(CONVERT(VARCHAR, m.MOV_DATA, 114),8) AS MOV_HORA
	FROM SCE_Movimentacao m INNER JOIN
	(
		SELECT m1.EQ_ID, MAX(m1.MOV_ID) AS MOV_ID
		FROM SCE_Movimentacao m1 INNER JOIN (
			SELECT EQ_ID, MAX(MOV_DATA) AS MOV_DATA FROM SCE_Movimentacao
			--WHERE nf_id = 6251 -- EQ_ID = 16667
			GROUP BY EQ_ID
		) m2 ON (m1.EQ_ID = m2.EQ_ID AND m1.MOV_DATA = m2.MOV_DATA)
		GROUP BY m1.EQ_ID
	)
	mm ON (m.MOV_ID = mm.MOV_ID)
'
GO
