/****** Object:  View [dbo].[vw_Total_Orgao_Atividade]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[vw_Total_Orgao_Atividade]') AND OBJECTPROPERTY(id, N'IsView') = 1)
	DROP VIEW [dbo].[vw_Total_Orgao_Atividade]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Total_Orgao_Atividade]
AS
	/** 
		Totaliza os agendamentos por órgao do solicitante e tipo de atividade

		COPPETEC - Gilberto Almeida - 13/01/2004
	**/
	SELECT ALL TOP 100 PERCENT 
		CASE WHEN o.AG_ORGAO IS NULL THEN '- Nenhum órgão definido' ELSE o.AG_ORGAO END AS AG_ORGAO,
		ta.ta_descricao,
		CASE WHEN
		(
			SELECT COUNT(*)
			FROM Agendamento aa left JOIN Tipo_Atividade ata ON aa.TA_ID = ata.TA_ID
			WHERE ta.ta_descricao = ata.ta_descricao AND aa.AG_ORGAO = o.AG_ORGAO
			GROUP BY aa.AG_ORGAO, ata.TA_DESCRICAO
		) IS NULL THEN 0 
		ELSE
		(
			SELECT COUNT(*)
			FROM Agendamento aa left JOIN Tipo_Atividade ata ON aa.TA_ID = ata.TA_ID
			WHERE ta.ta_descricao = ata.ta_descricao AND aa.AG_ORGAO = o.AG_ORGAO
			GROUP BY aa.AG_ORGAO, ata.TA_DESCRICAO
		) END AS TOTAL_POR_ATIVIDADE
	FROM Tipo_Atividade ta 
		LEFT JOIN Agendamento a on ta.ta_id = ta.ta_id
		LEFT JOIN (SELECT DISTINCT AG_ORGAO FROM Agendamento) o on a.AG_ORGAO = o.AG_ORGAO
	GROUP BY o.AG_ORGAO, ta.ta_descricao
	ORDER BY o.AG_ORGAO, ta.ta_descricao
GO
