/****** Object:  Rule [dbo].[ru_SCE_PROPRIEDADE_EQUIPAMENTO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ru_SCE_PROPRIEDADE_EQUIPAMENTO]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
DROP RULE [dbo].[ru_SCE_PROPRIEDADE_EQUIPAMENTO]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ru_SCE_PROPRIEDADE_EQUIPAMENTO]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
EXEC dbo.sp_executesql N'create rule [dbo].[ru_SCE_PROPRIEDADE_EQUIPAMENTO] as /* C - Embratel CRT / O - Embratel Outros / T - Terceiros / M - Comodato */
@col IN (''C'', ''O'', ''T'', ''M'')
'
GO
