/****** Object:  Rule [dbo].[ru_SCE_RESERVA_EQ_ACEITO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ru_SCE_RESERVA_EQ_ACEITO]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
DROP RULE [dbo].[ru_SCE_RESERVA_EQ_ACEITO]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ru_SCE_RESERVA_EQ_ACEITO]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
EXEC dbo.sp_executesql N'
create rule [dbo].[ru_SCE_RESERVA_EQ_ACEITO] as /* null - não verificado / 0 - Não aceito / 1 - Aceito */
@col IN (NULL, 0, 1)

'
GO
