/****** Object:  Rule [dbo].[ru_SCE_NOTA_FISCAL_CARTA]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ru_SCE_NOTA_FISCAL_CARTA]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
DROP RULE [dbo].[ru_SCE_NOTA_FISCAL_CARTA]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ru_SCE_NOTA_FISCAL_CARTA]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
EXEC dbo.sp_executesql N'create rule [dbo].[ru_SCE_NOTA_FISCAL_CARTA] as /* NULL - Nada / ''P'' - Pendente / ''R'' - Recebida */
@col IN (NULL, ''P'', ''R'')
'
GO
