/****** Object:  Rule [dbo].[ru_SCE_RESERVA_EQ_SETUP]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ru_SCE_RESERVA_EQ_SETUP]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
	DROP RULE [dbo].[ru_SCE_RESERVA_EQ_SETUP]
GO

CREATE RULE [dbo].[ru_SCE_RESERVA_EQ_SETUP] 
AS
	@col IN ('A', 'E')	 /* A - Amostra / E - Equipamento */
GO
