/****** Object:  Rule [dbo].[ru_SCE_NOTA_FISCAL_CONFORMIDADE]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ru_SCE_NOTA_FISCAL_CONFORMIDADE]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
DROP RULE [dbo].[ru_SCE_NOTA_FISCAL_CONFORMIDADE]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ru_SCE_NOTA_FISCAL_CONFORMIDADE]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
EXEC dbo.sp_executesql N'create rule [dbo].[ru_SCE_NOTA_FISCAL_CONFORMIDADE] as /* NULL - Nada / 1 - OK / 0 - NAO OK */
@col IN (NULL, 0, 1)
'
GO
