/****** Object:  Rule [dbo].[ru_SCE_EMPRESA_TIPO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ru_SCE_EMPRESA_TIPO]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
	DROP RULE [dbo].[ru_SCE_EMPRESA_TIPO]
GO

CREATE RULE [dbo].[ru_SCE_EMPRESA_TIPO] 
AS
	@col IN ('F', 'T')	/* F - Fornecedor / T - Transportador */
GO
