/****** Object:  Rule [dbo].[TIPO_LOCAL_EQUP]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TIPO_LOCAL_EQUP]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
DROP RULE [dbo].[TIPO_LOCAL_EQUP]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TIPO_LOCAL_EQUP]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
EXEC dbo.sp_executesql N'CREATE RULE [dbo].[TIPO_LOCAL_EQUP]
	AS @col IN (''I'', ''E'')
'
GO
