/****** Object:  Rule [dbo].[VERIFICA_ANO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[VERIFICA_ANO]') AND OBJECTPROPERTY(id, N'IsRule') = 1)
	DROP RULE [dbo].[VERIFICA_ANO]
GO

CREATE RULE [dbo].[VERIFICA_ANO]
AS 
	@col BETWEEN 1900 AND 3000
GO
