/****** Object:  StoredProcedure [dbo].[SP_AG_PESSOAS_POR_PERIODO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_AG_PESSOAS_POR_PERIODO]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[SP_AG_PESSOAS_POR_PERIODO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_AG_PESSOAS_POR_PERIODO]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_AG_PESSOAS_POR_PERIODO]
	@datainicial	VARCHAR(10),
	@datafinal	VARCHAR(10),
	@username	VARCHAR(20)
AS
BEGIN
	DECLARE @D1 SMALLDATETIME
	DECLARE @D2 SMALLDATETIME
	SET @D1 = CONVERT(SMALLDATETIME, @datainicial, 103)
	SET @D2 = CONVERT(SMALLDATETIME, @datafinal, 103)

	IF @username = ''-1'' OR @username IS NULL BEGIN
		SELECT PES_USERNAME, NOME, TAREFA_ID, ''TAR'' AS TAREFA_TIPO, T.TAR_DESCRICAO AS DESCRICAO, TP_DATAINICIAL, TP_DATAFINAL, NULL AS ID_SITUACAO, NULL AS S_DESCRICAO
		FROM TAREFAS_PREVISTAS AS TP
		INNER JOIN TAREFAS AS T ON TP.TAREFA_ID = T.TAR_ID AND TAREFA_TIPO = 1
		INNER JOIN USERCRT AS U ON TP.PES_USERNAME = U.USERID
		WHERE 	(@D1 BETWEEN TP_DATAINICIAL AND TP_DATAFINAL)
		OR	(@D2 BETWEEN TP_DATAINICIAL AND TP_DATAFINAL)
		OR	(TP_DATAINICIAL > @D1 AND TP_DATAFINAL < @D2)

		UNION

		-- RT
		SELECT a.AG_RESPONSAVEL, u.NOME, AG_NUMERO, ''AS'' AS  TAREFA_TIPO, A.AG_TITULO AS DESCRICAO, a.AG_DATAINICIO, a.AG_DATATERMINO, ID_SITUACAO, S_DESCRICAO
		FROM vw_Agendamento AS A INNER JOIN USERCRT AS U ON a.AG_RESPONSAVEL = U.USERID
		WHERE 	(@D1 BETWEEN AG_DATAINICIO AND AG_DATATERMINO)
		OR	(@D2 BETWEEN AG_DATAINICIO AND AG_DATATERMINO)
		OR	(AG_DATAINICIO > @D1 AND AG_DATATERMINO < @D2)

		UNION

		-- RAT
		SELECT a.AG_RAT, u.NOME, AG_NUMERO, ''AS'' AS  TAREFA_TIPO, A.AG_TITULO AS DESCRICAO, a.AG_DATAINICIO, a.AG_DATATERMINO, ID_SITUACAO, S_DESCRICAO
		FROM vw_Agendamento AS A INNER JOIN USERCRT AS U ON a.AG_RAT = U.USERID
		WHERE 	(@D1 BETWEEN AG_DATAINICIO AND AG_DATATERMINO)
		OR	(@D2 BETWEEN AG_DATAINICIO AND AG_DATATERMINO)
		OR	(AG_DATAINICIO > @D1 AND AG_DATATERMINO < @D2)

		ORDER BY PES_USERNAME, TAREFA_TIPO, TAREFA_ID
	END
	ELSE BEGIN
		SELECT PES_USERNAME, NOME, TAREFA_ID, ''TAR'' AS TAREFA_TIPO, T.TAR_DESCRICAO AS DESCRICAO, TP_DATAINICIAL, TP_DATAFINAL, NULL AS ID_SITUACAO, NULL AS S_DESCRICAO
		FROM TAREFAS_PREVISTAS AS TP
		INNER JOIN TAREFAS AS T ON TP.TAREFA_ID = T.TAR_ID AND TAREFA_TIPO = 1
		INNER JOIN USERCRT AS U ON TP.PES_USERNAME = U.USERID
		WHERE 	((@D1 BETWEEN TP_DATAINICIAL AND TP_DATAFINAL)
		OR	(@D2 BETWEEN TP_DATAINICIAL AND TP_DATAFINAL)
		OR	(TP_DATAINICIAL > @D1 AND TP_DATAFINAL < @D2))
		AND UPPER(TP.PES_USERNAME) = UPPER(@username)

		UNION

		-- RT
		SELECT a.AG_RESPONSAVEL, u.NOME, AG_NUMERO, ''AS'' AS  TAREFA_TIPO, A.AG_TITULO AS DESCRICAO, a.AG_DATAINICIO, a.AG_DATATERMINO, ID_SITUACAO, S_DESCRICAO
		FROM vw_Agendamento AS A INNER JOIN USERCRT AS U ON a.AG_RESPONSAVEL = U.USERID
		WHERE 	((@D1 BETWEEN AG_DATAINICIO AND AG_DATATERMINO)
		OR	(@D2 BETWEEN AG_DATAINICIO AND AG_DATATERMINO)
		OR	(AG_DATAINICIO > @D1 AND AG_DATATERMINO < @D2))
		AND UPPER(a.AG_RESPONSAVEL) = UPPER(@username)

		UNION

		-- RAT
		SELECT a.AG_RAT, u.NOME, AG_NUMERO, ''AS'' AS  TAREFA_TIPO, A.AG_TITULO AS DESCRICAO, a.AG_DATAINICIO, a.AG_DATATERMINO, ID_SITUACAO, S_DESCRICAO
		FROM vw_Agendamento AS A INNER JOIN USERCRT AS U ON a.AG_RAT = U.USERID
		WHERE 	((@D1 BETWEEN AG_DATAINICIO AND AG_DATATERMINO)
		OR	(@D2 BETWEEN AG_DATAINICIO AND AG_DATATERMINO)
		OR	(AG_DATAINICIO > @D1 AND AG_DATATERMINO < @D2))
		AND UPPER(a.AG_RAT) = UPPER(@username)

		ORDER BY PES_USERNAME, TAREFA_TIPO, TAREFA_ID
	END
END
' 
END
GO
