/****** Object:  StoredProcedure [dbo].[SP_AG_CADASTRA_TAREFA]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_AG_CADASTRA_TAREFA]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[sp_Ag_Cadastra_Tarefa]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Ag_Cadastra_Tarefa] (
	@tar_descricao		VARCHAR(255)
)
AS
BEGIN
	SET NOCOUNT ON

	SELECT TAR_ID FROM TAREFAS WHERE TAR_DESCRICAO = @tar_descricao

	IF @@ROWCOUNT = 0 
	BEGIN
		INSERT INTO TAREFAS (TAR_DESCRICAO)
		VALUES (@tar_descricao)
		IF @@ERROR > 0
			RETURN -1
		ELSE
			RETURN @@IDENTITY
	END
	ELSE
		RETURN -2  -- Nome já cadastrado
END
GO
