/****** Object:  StoredProcedure [dbo].[SP_AG_REMOVE]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_AG_REMOVE]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[sp_Ag_Remove]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_Ag_Remove]
(
	@tp_id INT
)
AS
BEGIN
	DELETE FROM TAREFAS_PREVISTAS WHERE TP_ID = @tp_id
	IF @@ERROR > 0
		RETURN -1
	ELSE
		RETURN 1 -- Removido com sucesso
END
GO
