/****** Object:  StoredProcedure [dbo].[sp_ApagaServPlataforma]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_ApagaServPlataforma]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[sp_ApagaServPlataforma]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_ApagaServPlataforma]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_ApagaServPlataforma]
	@pId SMALLINT
AS
BEGIN
	BEGIN TRANSACTION
	SET NOCOUNT ON 

	DELETE FROM Servicos_Plataformas WHERE S_ID = @pId
	IF @@ERROR <> 0 BEGIN
		ROLLBACK TRANSACTION
		RAISERROR(''Não foi possível excluir o serviço/sistema. Possivelmente existem referências ao mesmo na base de dados.'', 16, 1)
		SELECT -1 AS SAIDA, ''Não foi possível excluir o serviço/sistema. Possivelmente existem referências ao mesmo na base de dados.'' AS MENSAGEM
		RETURN -1
	END

	COMMIT TRANSACTION
	SELECT 1 AS SAIDA, ''OK'' AS MENSAGEM
	RETURN 1
END
' 
END
GO
