/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_TAREFA]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_CONSULTA_TAREFA]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[SP_CONSULTA_TAREFA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_CONSULTA_TAREFA]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[SP_CONSULTA_TAREFA]
@tpid  INT
AS
SELECT TP.TAREFA_ID, AG_TITULO AS DESCRICAO_TAREFA, TP.TP_DATAINICIAL, TP.TP_DATAFINAL, TP.PES_USERNAME, TP.TP_OBSERVACAO, TP.TAREFA_TIPO
FROM TAREFAS_PREVISTAS AS TP
LEFT JOIN AGENDAMENTO AS A ON A.AG_NUMERO = TP.TAREFA_ID
WHERE TP.TP_ID = @tpid
AND TAREFA_TIPO = 0
UNION
SELECT TP.TAREFA_ID, T.TAR_DESCRICAO AS DESCRICAO_TAREFA, TP.TP_DATAINICIAL, TP.TP_DATAFINAL, TP.PES_USERNAME, TP.TP_OBSERVACAO, TP.TAREFA_TIPO
FROM TAREFAS_PREVISTAS AS TP
LEFT JOIN TAREFAS AS T ON T.TAR_ID = TP.TAREFA_ID
WHERE TP.TP_ID = @tpid
AND TAREFA_TIPO = 1
' 
END
GO
