/****** Object:  StoredProcedure [dbo].[sp_CadServPlataforma]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_CadServPlataforma]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[sp_CadServPlataforma]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CadServPlataforma]
(
	@pId INT,
	@pDescricao VARCHAR(510),
	@pTipo BIT,
	@pId_Pai INT
)
AS
BEGIN
	SET NOCOUNT ON 

	BEGIN TRANSACTION

	DECLARE @msg VARCHAR(8000)

	IF (@pID IS NULL) OR (@pID = 0) BEGIN
		INSERT INTO Servicos_Plataformas (s_descricao,s_servico,s_id_pai)
		VALUES (UPPER(@pDescricao), @pTipo, @pId_Pai)
		IF @@ERROR <> 0 BEGIN
			ROLLBACK TRANSACTION
			SET @msg = 'Não foi possível inserir o serviço/sistema ' + @pDescricao
			RAISERROR(@msg, 16, 1)
			SELECT -1 AS SAIDA, @msg AS MENSAGEM
			RETURN -1
		END
		SET @pID = @@IDENTITY
	END
	ELSE BEGIN
		UPDATE Servicos_Plataformas SET
			s_descricao = UPPER(@pDescricao),
			s_servico = @pTipo,
			s_id_pai = @pId_Pai
		WHERE	s_id = @pId
		IF @@ERROR <> 0 BEGIN
			ROLLBACK TRANSACTION
			SET @msg = 'Não foi possível atualizar o serviço/sistema ' + @pDescricao
			RAISERROR(@msg, 16, 1)
			SELECT -1 AS SAIDA, @msg AS MENSAGEM
			RETURN -1
		END
	END

	COMMIT TRANSACTION
	SELECT @pID AS SAIDA, 'OK' AS MENSAGEM
	RETURN @pID
END
GO
