/****** Object:  StoredProcedure [dbo].[sp_CadTeste]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_CadTeste]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[sp_CadTeste]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_CadTeste]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[sp_CadTeste]
	@pT_ID INT,
	@pT_TITULO VARCHAR(200),
	@pT_DISPONIVEL BIT,
	@pT_DESCRICAO VARCHAR(200),
	@pT_OBSERVACAO VARCHAR(200),
	@pTIT_ID INT,
	@pT_PERIODOREPETICAO SMALLINT
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @msg VARCHAR(8000)
	BEGIN TRANSACTION

	IF @pT_ID IS NULL OR @pT_ID = 0
	BEGIN
		INSERT INTO Testes(T_TITULO, T_DISPONIVEL, T_OBSERVACAO, T_DESCRICAO, TIT_ID, T_PERIODOREPETICAO)
		VALUES (@pT_TITULO, @pT_DISPONIVEL, @pT_OBSERVACAO, @pT_DESCRICAO, @pTIT_ID, @pT_PERIODOREPETICAO)
		IF @@ERROR <> 0 BEGIN
			ROLLBACK TRANSACTION
			SET @msg = ''Não foi possível inserir o teste '' + @pT_TITULO
			RAISERROR(@msg, 16, 1)
			SELECT -1 AS SAIDA, @msg AS MENSAGEM
			RETURN -1
		END
		SET @pT_ID = @@IDENTITY
	END
	ELSE BEGIN
		UPDATE Testes SET
			T_TITULO = @pT_TITULO,
			T_DISPONIVEL = @pT_DISPONIVEL,
			TIT_ID = @pTIT_ID,
			T_OBSERVACAO = @pT_OBSERVACAO,
			T_DESCRICAO = @pT_DESCRICAO,
			T_PERIODOREPETICAO = @pT_PERIODOREPETICAO
			WHERE T_ID = @pT_ID
		IF @@ERROR <> 0 BEGIN
			ROLLBACK TRANSACTION
			SET @msg = ''Não foi possível atualizar o teste '' + @pT_TITULO
			RAISERROR(@msg, 16, 1)
			SELECT -1 AS SAIDA, @msg AS MENSAGEM
			RETURN -1
		END
	END

	COMMIT TRANSACTION
	SELECT @pT_ID AS SAIDA, ''OK'' AS MENSAGEM
	RETURN @pT_ID
END
' 
END
GO
