/****** Object:  StoredProcedure [dbo].[SP_FAC_CADASTRA_TIPO_COMPONENTE]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_CADASTRA_TIPO_COMPONENTE]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[SP_FAC_CADASTRA_TIPO_COMPONENTE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_FAC_CADASTRA_TIPO_COMPONENTE]
(
	@tpcNome	VARCHAR(50),
	@ftcID		INT,
	@fabID		INT
)
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @tmp INT

	SELECT @tmp = TPC_ID FROM FAC_TIPO_COMPONENTE WHERE UPPER( @tpcNome ) = TPC_NOME AND FTC_ID = @ftcID AND FAB_ID = @fabID

	IF @@ROWCOUNT > 0
		RETURN @tmp
	ELSE BEGIN

		INSERT INTO FAC_TIPO_COMPONENTE (TPC_NOME, FTC_ID, FAB_ID) VALUES ( UPPER( @tpcNome ), @ftcID, @fabID )

		IF @@ERROR > 0
			RETURN -1
		ELSE
			RETURN @@IDENTITY
	END
END
GO
