/****** Object:  StoredProcedure [dbo].[SP_FAC_CADASTRA_FAMILIA_TIPO_COMPONENTE]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_CADASTRA_FAMILIA_TIPO_COMPONENTE]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[SP_FAC_CADASTRA_FAMILIA_TIPO_COMPONENTE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_FAC_CADASTRA_FAMILIA_TIPO_COMPONENTE]
(
	@ftcNome	VARCHAR(200)
)
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @tmp INT

	SELECT @tmp = FTC_ID FROM FAC_FAMILIA_TIPO_COMPONENTE WHERE FTC_NOME = UPPER( @ftcNome )

	IF @@ROWCOUNT > 0
		RETURN @tmp

	INSERT INTO FAC_FAMILIA_TIPO_COMPONENTE ( FTC_NOME ) VALUES ( UPPER( @ftcNome ) )

	IF @@ERROR > 0
		RETURN -1--erro na inserção
	ELSE
		RETURN @@IDENTITY
END
GO
