/****** Object:  StoredProcedure [dbo].[SP_FAC_CADASTRA_LOCAL_ESPECIFICO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_CADASTRA_LOCAL_ESPECIFICO]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[SP_FAC_CADASTRA_LOCAL_ESPECIFICO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_FAC_CADASTRA_LOCAL_ESPECIFICO]
(
	@lgeID		INT,
	@leeNome	VARCHAR(50)
)
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @tmp INT

	SELECT @tmp = LEE_ID FROM FAC_LOCAIS_ESPECIFICOS_EQUIP WHERE LGE_ID = @lgeID AND LEE_NOME = UPPER(@leeNome)

	IF @@ROWCOUNT > 0
		RETURN @tmp
	ELSE BEGIN
		INSERT INTO FAC_LOCAIS_ESPECIFICOS_EQUIP (LGE_ID, LEE_NOME) VALUES ( @lgeID, UPPER(@leeNome) )

		IF @@ERROR > 0
			RETURN -1
		ELSE
			RETURN @@IDENTITY
	END
END
GO
