/****** Object:  StoredProcedure [dbo].[SP_FAC_ATUALIZA_FABRICANTE]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_ATUALIZA_FABRICANTE]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[SP_FAC_ATUALIZA_FABRICANTE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_ATUALIZA_FABRICANTE]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_FAC_ATUALIZA_FABRICANTE]
@fabID		INTEGER,
@fabNome	VARCHAR(200)

AS

SET NOCOUNT ON

UPDATE FAC_FABRICANTE_TIPO_COMPONENTE SET FAB_NOME = UPPER ( @fabNome ) WHERE FAB_ID = @fabID

IF @@ERROR > 0
	RETURN -1 --erro ao atualizar
ELSE
	RETURN 1

' 
END
GO
