/****** Object:  StoredProcedure [dbo].[SP_FAC_CADASTRA_CIRCUITO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_CADASTRA_CIRCUITO]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[SP_FAC_CADASTRA_CIRCUITO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_CADASTRA_CIRCUITO]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_FAC_CADASTRA_CIRCUITO]
@ctoNome		VARCHAR(200),
@tpcID			INTEGER, --tipo de circuito
@ASID			INTEGER, --tipo de circuito
@ctoPermanente	BIT,
@ctoAtivado		BIT

AS

SET NOCOUNT ON

INSERT INTO FAC_CIRCUITO (CTO_NOME, TPC_ID, CTO_PERMANENTE, CTO_ATIVADO, AG_NUMERO) VALUES ( UPPER( @ctoNome ), @tpcID, @ctoPermanente, @ctoAtivado, @ASID)

IF @@ERROR > 0
	RETURN -1
ELSE
	RETURN @@IDENTITY


' 
END
GO
