/****** Object:  StoredProcedure [dbo].[SP_FAC_CADASTRA_CARACTERISTICA]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_CADASTRA_CARACTERISTICA]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[SP_FAC_CADASTRA_CARACTERISTICA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_FAC_CADASTRA_CARACTERISTICA]
(
	@carNome	VARCHAR(50),
	@carDefinicao	VARCHAR(5000)
)
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @tmp INT

	SELECT @tmp = CAR_ID FROM FAC_CARACTERISTICAS WHERE UPPER( @carNome ) = CAR_NOME

	IF @@ROWCOUNT > 0
		RETURN @tmp
	ELSE BEGIN

		INSERT INTO FAC_CARACTERISTICAS (CAR_NOME, CAR_DEFINICAO) VALUES ( UPPER( @carNome ), UPPER( @carDefinicao ) )

		IF @@ERROR > 0
			RETURN -1
		ELSE
			RETURN @@IDENTITY
	END
END
GO
