/****** Object:  StoredProcedure [dbo].[SP_FAC_ATUALIZA_LOCAL_GENERICO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_ATUALIZA_LOCAL_GENERICO]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[SP_FAC_ATUALIZA_LOCAL_GENERICO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_FAC_ATUALIZA_LOCAL_GENERICO]
(
	@lgeID		INT,
	@lgeNome	VARCHAR(50),
	@lgeTipo	CHAR
)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE FAC_LOCAIS_GENERICOS_EQUIP SET LGE_NOME = UPPER( @lgeNome), LGE_TIPO = @lgeTipo WHERE LGE_ID = @lgeID

	IF @@ERROR > 0
		RETURN -1
	ELSE
		RETURN 1
END
GO
