/****** Object:  StoredProcedure [dbo].[SP_FAC_ATUALIZA_CARACTERISTICA]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_ATUALIZA_CARACTERISTICA]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[SP_FAC_ATUALIZA_CARACTERISTICA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_ATUALIZA_CARACTERISTICA]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_FAC_ATUALIZA_CARACTERISTICA]
@carID		INTEGER,
@carNome	VARCHAR(50),
@carDefinicao	VARCHAR(5000)

AS

SET NOCOUNT ON

UPDATE FAC_CARACTERISTICAS SET CAR_NOME = UPPER( @carNome ), CAR_DEFINICAO = UPPER( @carDefinicao ) WHERE CAR_ID = @carID

IF @@ERROR > 0
	RETURN -1
ELSE
	RETURN 1

' 
END
GO
