/****** Object:  StoredProcedure [dbo].[SP_FAC_CADASTRA_FABRICANTE]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_CADASTRA_FABRICANTE]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[SP_FAC_CADASTRA_FABRICANTE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_CADASTRA_FABRICANTE]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_FAC_CADASTRA_FABRICANTE]
@fabNome	VARCHAR(200)

AS

SET NOCOUNT ON

DECLARE @tmp INTEGER

SELECT @tmp = FAB_ID FROM FAC_FABRICANTE_TIPO_COMPONENTE WHERE FAB_NOME = UPPER( @fabNome )

IF @@ROWCOUNT > 0
	RETURN @tmp

INSERT INTO FAC_FABRICANTE_TIPO_COMPONENTE (FAB_NOME) VALUES ( UPPER ( @fabNome ) )

IF @@ERROR > 0
	RETURN -1 --erro ao inserir
ELSE
	RETURN @@IDENTITY


' 
END
GO
