/****** Object:  StoredProcedure [dbo].[SP_FAC_ATUALIZA_CIRCUITO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_ATUALIZA_CIRCUITO]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[SP_FAC_ATUALIZA_CIRCUITO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_FAC_ATUALIZA_CIRCUITO]
(
	@ctoID			INT,
	@ctoNome		VARCHAR(200),
	@tpcID			INT,
	@ASID			INT,
	@ctoPermanente	BIT,
	@ctoAtivado		BIT
)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE FAC_CIRCUITO SET CTO_NOME = UPPER( @ctoNome ), AG_Numero = @ASID,  TPC_ID = @tpcID, CTO_PERMANENTE = @ctoPermanente, CTO_ATIVADO = @ctoAtivado WHERE CTO_ID = @ctoID

	IF @@ERROR > 0
		RETURN -1 --erro na atualização
	ELSE
		RETURN 1
END
GO
