/****** Object:  StoredProcedure [dbo].[SP_FAC_ATUALIZA_FAMILIA_TIPO_COMPONENTE]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_ATUALIZA_FAMILIA_TIPO_COMPONENTE]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[SP_FAC_ATUALIZA_FAMILIA_TIPO_COMPONENTE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_FAC_ATUALIZA_FAMILIA_TIPO_COMPONENTE]
(
	@ftcID		INT,
	@ftcNome	VARCHAR(200)
)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE FAC_FAMILIA_TIPO_COMPONENTE SET FTC_NOME = UPPER( @ftcNome ) WHERE FTC_ID = @ftcID

	IF @@ERROR > 0
		RETURN -1--erro na inserção
	ELSE
		RETURN 1
END
GO
