/****** Object:  StoredProcedure [dbo].[SP_FAC_ATUALIZA_LOCAL_ESPECIFICO]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SP_FAC_ATUALIZA_LOCAL_ESPECIFICO]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[SP_FAC_ATUALIZA_LOCAL_ESPECIFICO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_FAC_ATUALIZA_LOCAL_ESPECIFICO]
(
	@leeID		INT,
	@leeNome	VARCHAR(50),
	@lgeID		INT
)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE FAC_LOCAIS_ESPECIFICOS_EQUIP SET LGE_ID = @lgeID, LEE_NOME = UPPER( @leeNome) WHERE LEE_ID = @leeID

	IF @@ERROR > 0
		RETURN -1
	ELSE
		RETURN 1
END
GO
