/****** Object:  StoredProcedure [dbo].[sp_Indicador_Nao_Conformidade]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_Indicador_Nao_Conformidade]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[sp_Indicador_Nao_Conformidade]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Indicador_Nao_Conformidade]
(
        @datainicio as smalldatetime,
        @datafim as smalldatetime
)
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @numerador FLOAT, @denominador FLOAT

	-- não conformidades
	SELECT @numerador = count(L.LB_ID)
	FROM lb_acoestomadas R INNER JOIN LB_LogBook L on L.LB_ID = R.act_lb 
	WHERE (act_tipoacao = 2) AND (LB_DATAHORAOCO BETWEEN @datainicio AND @datafim)

	-- total de ocorrencias
	SELECT @denominador = count(*)
	FROM LB_LOGBOOK
	WHERE LB_DATAHORAOCO BETWEEN @datainicio AND @datafim

	IF @denominador = 0
		SELECT @numerador AS 'numerador', @denominador AS 'denominador', 0 AS 'porcentagem'
	ELSE
		SELECT @numerador AS 'numerador', @denominador AS 'denominador', (@numerador/@denominador)*100 AS 'porcentagem'
END
GO
