/****** Object:  StoredProcedure [dbo].[sp_RemarcaTeste]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_RemarcaTeste]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[sp_RemarcaTeste]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_RemarcaTeste]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE  PROCEDURE [dbo].[sp_RemarcaTeste]
	@pAG_NUMERO SMALLINT,
	@pAG_DATAINICIO varchar(10),
	@pAG_DATATERMINO varchar(10),
	@pAG_MOTIVO varchar(7000)
AS
BEGIN
	/*** Solicita um agendamento para Remarcacao de datas ***/
	DECLARE @vID_SITUACAO SMALLINT, @vHD_MARCACAO SMALLINT

	BEGIN transaction

	UPDATE AGENDAMENTO SET AG_FLAGREMARCACAO = 1 WHERE AG_NUMERO = @pAG_NUMERO
	IF @@ERROR <> 0 BEGIN
		ROLLBACK TRANSACTION
		RETURN @@error
	END
 
	SELECT @vHD_MARCACAO = max(HD_MARCACAO) FROM historico_datas WHERE AG_NUMERO = @pAG_NUMERO

	IF @vHD_MARCACAO IS NULL
  		SET @vHD_MARCACAO = 1
 	ELSE
  		SET @vHD_MARCACAO = @vHD_MARCACAO + 1

	INSERT INTO Historico_datas 
		(AG_NUMERO, HD_MARCACAO, HD_DATAINICIO, HD_DATATERMINO, HD_FLAGREMARCADO, 
		HD_MOTIVO)
 		VALUES (@pAG_NUMERO, @vHD_MARCACAO, 
		convert(smalldatetime, @pAG_DATAINICIO, 103), convert(smalldatetime, @pAG_DATATERMINO, 103),
		0, ''SOLICITAÇÃO DE REMARCAÇÃO'' + CHAR(13) + CHAR(10) + @pAG_MOTIVO)
	IF @@ERROR <> 0 BEGIN
  		ROLLBACK TRANSACTION
  		RETURN @@error
 	END

	SELECT @vID_SITUACAO = ID_SITUACAO FROM HISTORICO_EVENTOS
 	WHERE AG_NUMERO = @pAG_NUMERO and HE_DATATERMINO IS NULL

 	if @vID_SITUACAO = 3 BEGIN  -- agendado
 		UPDATE HISTORICO_EVENTOS 
			SET HE_DATATERMINO = getDate()
			WHERE AG_NUMERO = @pAG_NUMERO and HE_DATATERMINO IS NULL
  		IF @@ERROR <> 0 BEGIN
   			ROLLBACK TRANSACTION
   			RETURN(@@error)
  		END

  		INSERT into HISTORICO_EVENTOS(AG_NUMERO, ID_SITUACAO, HE_DATAINICIO)
  		VALUES (@pAG_NUMERO, 1, getDate())
  		IF @@ERROR <> 0 BEGIN
   			ROLLBACK TRANSACTION
   			RETURN(@@error)
  		END
 	END

 	COMMIT TRANSACTION
	RETURN 1
END


' 
END
GO
