/****** Object:  StoredProcedure [dbo].[sp_SCE_EXCLUI_RESERVA]    Script Date: 07/19/2018 18:45:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_SCE_EXCLUI_RESERVA]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[sp_SCE_EXCLUI_RESERVA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_SCE_EXCLUI_RESERVA]
	@ag_numero INT,
	@user_id VARCHAR(80)
AS
/*** Remove uma reserva de equipamentos ***/
BEGIN
	SET NOCOUNT ON
	BEGIN TRANSACTION

	DECLARE @as INT

	IF @ag_numero IS NOT NULL BEGIN

		DELETE FROM SCE_Reserva_Equipamentos WHERE AG_NUMERO = @ag_numero
		IF @@error <> 0
		BEGIN
			ROLLBACK TRANSACTION
			RAISERROR( 'Não foi possível excluir os itens da reserva', 16, 1)
			RETURN -1
		END

		DELETE FROM SCE_Reserva WHERE AG_NUMERO = @ag_numero
		IF @@error <> 0
		BEGIN
			ROLLBACK TRANSACTION
			RAISERROR( 'Não foi possível excluir a reserva de equipamentos', 16, 1)
			RETURN -1
		END

		-- histórico da operação
		INSERT INTO SCE_Historico (ID_USUARIO, ACAO, DATA)
			VALUES (@user_id, 'O usuário ' + @user_id + ' excluiu a reserva de equipamentos para a AS ' + CAST(@ag_numero as VARCHAR) + '.', GETDATE())
		IF @@error <> 0
		BEGIN
			ROLLBACK TRANSACTION
			RAISERROR( 'Não foi registrar o histórico de exclusão da reserva', 16, 1)
			RETURN -1
		END
	END
	ELSE BEGIN
		ROLLBACK TRANSACTION
		RAISERROR( 'O código da reserva é inválido', 16, 1)
		RETURN -1
	END

	COMMIT TRANSACTION
	RETURN 1
END
GO
