<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="Ambiente" value="EMBRATEL"/>
    <add key="LDAP" value="LDAP://10.53.22.129" />

    <add key="smtpServer" value="e-mail.alerj.rj.gov.br"/>
    <add key="numberPort" value=""/>
    <add key="enableSSL" value="false"/>
    <add key="emailRemetente" value="ilab@embratel.com.br"/>
    <add key="credencial" value=""/>
    <add key="DestinatariosEmailErro" value="ilab@embratel.com.br"/>

    <!--
    <add key="Ambiente" value="AL"/>
    <add key="LDAP" value="LDAP://alerj.gov.br" />

    <add key="smtpServer" value="e-mail.alerj.rj.gov.br"/>
    <add key="numberPort" value=""/>
    <add key="enableSSL" value="false"/>
    <add key="emailRemetente" value="emendasorcamento@alerj.rj.gov.br"/>
    <add key="credencial" value=""/>
    <add key="DestinatariosEmailErro" value="emendasorcamento@alerj.rj.gov.br"/>
    -->

    <!--<add key="LDAP" value="LD AP://rootDSE" />-->

</appSettings>

</configuration>
