<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="LDAP" value="LDAP://rootDSE" />
    <!--<add key="LDAP" value="LDAP://10.53.22.129" />-->
    <!--<add key="LDAP" value="LDAP://ldapebt.embratel.com.br" />-->

    <!-- SMTP -->
    <add key="smtpServer" value="e-mail.alerj.rj.gov.br"/>
    <add key="numberPort" value=""/>
    <add key="enableSSL" value="false"/>
    <add key="emailRemetente" value="emendasorcamento@alerj.rj.gov.br"/>
    <add key="credencial" value=""/>
    <add key="DestinatariosEmailErro" value="emendasorcamento@alerj.rj.gov.br"/>

  </appSettings>

</configuration>
